In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})

In [3]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [4]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [5]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [6]:
df1.merge(df2, left_on="lkey", right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8