In [2]:
import numpy as np
import pandas as pd

In [3]:
n = np.NaN

In [4]:
idx = ["row1", "row2", "row3"]
col = ["col1", "col2", "col3"]

In [5]:
data = [[1, 2, 200], [100, 5, 6], [7, 300, n]]

In [6]:
df = pd.DataFrame(data, idx, col)

In [7]:
df

      col1  col2   col3
row1     1     2  200.0
row2   100     5    6.0
row3     7   300    NaN

In [8]:
df.idxmax(axis=0)

col1    row2
col2    row3
col3    row1
dtype: object

In [9]:
df.idxmax(axis=1)

row1    col3
row2    col1
row3    col2
dtype: object