In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "id": [1, 2, 3, 4, 5, 6],
        "raw_grade": ["a", "b", "b", "a", "a", "e"]
    }
)

In [3]:
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [27]:
df["grade"] = df["raw_grade"].astype("category")

In [28]:
df

   id raw_grade grade
0   1         a     a
1   2         b     b
2   3         b     b
3   4         a     a
4   5         a     a
5   6         e     e

In [29]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']

In [30]:
df["grade"].cat.categories

Index(['a', 'b', 'e'], dtype='object')

In [31]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

AttributeError: can't set attribute 'categories'

In [32]:
df["grade"] = df["grade"].cat.set_categories(["very good", "good", "very bad"], rename=True)

In [33]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (3, object): ['very good', 'good', 'very bad']

In [35]:
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [34]:
df.sort_values(by="grade")

   id raw_grade      grade
0   1         a  very good
3   4         a  very good
4   5         a  very good
1   2         b       good
2   3         b       good
5   6         e   very bad

In [36]:
df.groupby("grade").size()

grade
very good    3
good         2
very bad     1
dtype: int64