# Series

Series is a one-dimensional labeled array capable of holding data of any type

(integer, string, float, python objects, etc.).

In [ ]:
import pandas as pd
import numpy as np

In [36]:
d = pd.Series([0, 1, 2, 3])

In [38]:
d

0    0
1    1
2    2
3    3
dtype: int64

In [37]:
d.axes

[RangeIndex(start=0, stop=4, step=1)]

In [41]:
s = pd.Series([0, 1, 2, 3])

In [42]:
s.empty

False

In [43]:
s.size

4

In [44]:
s

0    0
1    1
2    2
3    3
dtype: int64

In [45]:
s.values

array([0, 1, 2, 3])

In [49]:
s.values[3]

3

In [50]:
s

0    0
1    1
2    2
3    3
dtype: int64

In [51]:
s.head(2)

0    0
1    1
dtype: int64

In [52]:
s.tail(2)

2    2
3    3
dtype: int64

In [53]:
import pandas as pd
import numpy as np

Dictionary

{key: value}

1. key -> value
2. value -> key

In [54]:
d = {"Name": pd.Series(["Tom", "James", "Ricky", "Vin", "Steve", "Smith", "Jack"]),
     "Age": pd.Series([25, 26, 25, 23, 30, 29, 23]),
     "Rating": pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8])
    }

In [55]:
df = pd.DataFrame(d)

In [56]:
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

# T (Transpose)

Row <> Columns

In [60]:
df.T.T

    Name Age Rating
0    Tom  25   4.23
1  James  26   3.24
2  Ricky  25   3.98
3    Vin  23   2.56
4  Steve  30    3.2
5  Smith  29    4.6
6   Jack  23    3.8

# Axes

In [61]:
df.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['Name', 'Age', 'Rating'], dtype='object')]

# Dtypes

In [62]:
df.dtypes

Name       object
Age         int64
Rating    float64
dtype: object

# Ndim

In [63]:
pd.Series().ndim

/tmp/ipykernel_139924/771631366.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series().ndim

1

In [64]:
pd.DataFrame().ndim

2